In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load dataset (replace 'your_dataset.csv' with the actual file path or URL)
dataset_path = '../Data/housing.csv'
df = pd.read_csv(dataset_path)

# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(df.head())

# Display basic information about the dataset
print("\nDataset information:")
print(df.info())

# Summary statistics of the dataset
print("\nSummary statistics:")
print(df.describe())

df

First few rows of the dataset:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

Summary statistics:
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [2]:
from ydata_profiling import ProfileReport

profile = ProfileReport(df, title="California Housing Data Profiling Report")
profile.to_file("California_Housing.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [3]:
import pandas as pd
import matplotlib.pyplot as plt


# Display the first few rows of the dataset
print("First few rows of the dataset:")
print(df.head())

# Display basic information about the dataset
print("\nDataset information:")
print(df.info())

# Summary statistics of the dataset
print("\nSummary statistics:")
print(df.describe())

# Find and display rows with null values
print("\nRows with null values:")
print(df[df.isnull().any(axis=1)])

# Remove rows with null values
df = df.dropna()

# Display basic information about the dataset after removing null values
print("\nDataset information after removing null values:")
print(df.info())

First few rows of the dataset:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0    -122.23     37.88                41.0        880.0           129.0
1    -122.22     37.86                21.0       7099.0          1106.0
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0

   population  households  median_income  median_house_value ocean_proximity
0       322.0       126.0         8.3252            452600.0        NEAR BAY
1      2401.0      1138.0         8.3014            358500.0        NEAR BAY
2       496.0       177.0         7.2574            352100.0        NEAR BAY
3       558.0       219.0         5.6431            341300.0        NEAR BAY
4       565.0       259.0         3.8462            342200.0        NEAR BAY

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB
None

Summary statistics:
          longitude      latitude  housing_median_age   total_rooms  \
count  20640.000000  20640.000000        20640.000000  20640.000000
mean    -119.569704     35.631861           28.639486   2635.763081
std        2.003532      2.135952           12.585558   2181.615252
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.800000     33.930000           18.000000   1447.750000
50%     -118.490000     34.260000           29.000000   2127.000000
75%     -118.010000     37.710000           37.000000   3148.000000
max     -114.310000     41.950000           52.000000  39320.000000

       total_bedrooms    population    households  median_income  \
count    20433.000000  20640.000000  20640.000000   20640.000000
mean       537.870553   1425.476744    499.539680       3.870671
std        421.385070   1132.462122    382.329753       1.899822
min          1.000000      3.000000      1.000000       0.499900
25%        296.000000    787.000000    280.000000       2.563400
50%        435.000000   1166.000000    409.000000       3.534800
75%        647.000000   1725.000000    605.000000       4.743250
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        20640.000000
mean        206855.816909
std         115395.615874
min          14999.000000
25%         119600.000000
50%         179700.000000
75%         264725.000000
max         500001.000000

Rows with null values:
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
290      -122.16     37.77                47.0       1256.0             NaN
341      -122.17     37.75                38.0        992.0             NaN
538      -122.28     37.78                29.0       5154.0             NaN
563      -122.24     37.75                45.0        891.0             NaN
696      -122.10     37.69                41.0        746.0             NaN
...          ...       ...                 ...          ...             ...
20267    -119.19     34.20                18.0       3620.0             NaN
20268    -119.18     34.19                19.0       2393.0             NaN
20372    -118.88     34.17                15.0       4260.0             NaN
20460    -118.75     34.29                17.0       5512.0             NaN
20484    -118.72     34.28                17.0       3051.0             NaN

       population  households  median_income  median_house_value  \
290         570.0       218.0         4.3750            161900.0
341         732.0       259.0         1.6196             85100.0
538        3741.0      1273.0         2.5762            173400.0
563         384.0       146.0         4.9489            247100.0
696         387.0       161.0         3.9063            178400.0
...           ...         ...            ...                 ...
20267      3171.0       779.0         3.3409            220500.0
20268      1938.0       762.0         1.6953            167400.0
20372      1701.0       669.0         5.1033            410700.0
20460      2734.0       814.0         6.6073            258100.0
20484      1705.0       495.0         5.7376            218600.0

      ocean_proximity
290          NEAR BAY
341          NEAR BAY
538          NEAR BAY
563          NEAR BAY
696          NEAR BAY
...               ...
20267      NEAR OCEAN
20268      NEAR OCEAN
20372       <1H OCEAN
20460       <1H OCEAN
20484       <1H OCEAN

[207 rows x 10 columns]

Dataset information after removing null values:
<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB
None

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [5]:
import pandas as pd
import matplotlib.pyplot as plt



# Select relevant columns
selected_columns = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms',
                    'population', 'households', 'median_income', 'median_house_value']
df_selected = df[selected_columns]

# Create separate box plots for each column
for column in selected_columns:
    plt.figure(figsize=(8, 5))
    plt.boxplot(df_selected[column], vert=False)
    plt.title(f'Box Plot of {column}', fontsize=14)
    plt.show()

C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\3949111027.py:16: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()
C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\3949111027.py:16: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()
C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\3949111027.py:16: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()
C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\3949111027.py:16: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()
C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\3949111027.py:16: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()
C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\3949111027.py:16: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()
C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\3949111027.py:16: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()
C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\3949111027.py:16: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()
C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\3949111027.py:16: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [6]:
import pandas as pd



# Select relevant columns
selected_columns = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms',
                    'population', 'households', 'median_income', 'median_house_value',]
df_selected = df[selected_columns]

# Define a function to count outliers based on IQR
def count_outliers(column):
    Q1 = df_selected[column].quantile(0.25)
    Q3 = df_selected[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = (df_selected[column] < lower_bound) | (df_selected[column] > upper_bound)
    return outliers.sum()

# Count outliers for each column
outliers_count = {column: count_outliers(column) for column in selected_columns}

# Display the number of outliers for each column
for column, count in outliers_count.items():
    print(f"Number of outliers in {column}: {count}")

Number of outliers in longitude: 0
Number of outliers in latitude: 0
Number of outliers in housing_median_age: 0
Number of outliers in total_rooms: 1290
Number of outliers in total_bedrooms: 1271
Number of outliers in population: 1190
Number of outliers in households: 1210
Number of outliers in median_income: 670
Number of outliers in median_house_value: 1064

In [7]:
import pandas as pd
import matplotlib.pyplot as plt



# Select relevant columns
selected_columns = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms',
                    'population', 'households', 'median_income', 'median_house_value']
df_selected = df[selected_columns]

# Define a function to identify outliers based on IQR
def detect_outliers(column):
    Q1 = df_selected[column].quantile(0.25)
    Q3 = df_selected[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = (df_selected[column] < lower_bound) | (df_selected[column] > upper_bound)
    return outliers

# Identify outliers for each column
outliers_dict = {column: detect_outliers(column) for column in selected_columns}

# Create box plots for each column with outliers highlighted
plt.figure(figsize=(15, 10))
for i, column in enumerate(selected_columns, start=1):
    plt.subplot(3, 4, i)
    plt.boxplot(df_selected[column], vert=False)
    plt.scatter(df_selected.loc[outliers_dict[column], column], [1] * outliers_dict[column].sum(), color='red', marker='x', label='Outliers')
    plt.title(f'Box Plot of {column}', fontsize=12)
    plt.xlabel(column)
    plt.ylabel('Outliers')
    plt.legend()

plt.tight_layout()
plt.show()

C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\2765416794.py:36: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [8]:
import pandas as pd



# Select relevant columns
selected_columns = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms',
                    'population', 'households', 'median_income', 'median_house_value']
df_selected = df[selected_columns]

# Define a function to identify outliers based on IQR
def detect_outliers(column):
    try:
        # Attempt to convert the column to numeric
        numeric_column = pd.to_numeric(df_selected[column], errors='raise')
    except (ValueError, TypeError):
        # If conversion fails, assume non-numeric and return an empty DataFrame
        return pd.DataFrame(index=df_selected.index, columns=[column])

    Q1 = numeric_column.quantile(0.25)
    Q3 = numeric_column.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = (numeric_column < lower_bound) | (numeric_column > upper_bound)
    return outliers

# Identify outliers for each column
outliers_dict = {column: detect_outliers(column) for column in selected_columns}

# Create a set of row indices with outliers
outlier_rows = set()
for outliers in outliers_dict.values():
    outlier_rows.update(outliers[outliers].index)

# Count the total number of unique rows with outliers
total_outliers = len(outlier_rows)

# Display the total number of rows with outliers
print(f"Total number of unique rows with outliers: {total_outliers}")

Total number of unique rows with outliers: 2999

In [9]:
import pandas as pd



# Select relevant columns
selected_columns = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms',
                    'population', 'households', 'median_income', 'median_house_value']
df_selected = df[selected_columns]

# Define a function to identify outliers based on IQR
def detect_outliers(column):
    try:
        # Attempt to convert the column to numeric
        numeric_column = pd.to_numeric(df_selected[column], errors='raise')
    except (ValueError, TypeError):
        # If conversion fails, assume non-numeric and return an empty DataFrame
        return pd.DataFrame(index=df_selected.index, columns=[column])

    Q1 = numeric_column.quantile(0.25)
    Q3 = numeric_column.quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = (numeric_column < lower_bound) | (numeric_column > upper_bound)
    return outliers

# Identify outliers for each column
outliers_dict = {column: detect_outliers(column) for column in selected_columns}

# Create a set of row indices with outliers
outlier_rows = set()
for outliers in outliers_dict.values():
    outlier_rows.update(outliers[outliers].index)

# Create a new dataset without outliers
df_no_outliers = df.drop(index=outlier_rows)

# Display the shape of the new dataset without outliers
print(f"Shape of the dataset without outliers: {df_no_outliers.shape}")

Shape of the dataset without outliers: (17434, 10)

In [10]:
df_no_outliers

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [11]:
# Save the DataFrame without outliers to a new CSV file
output_file_path = '../Data/housing_no_outliers.csv'
df_no_outliers.to_csv(output_file_path, index=False)

print(f"Dataset without outliers saved to: {output_file_path}")

Dataset without outliers saved to: ../Data/housing_no_outliers.csv

In [12]:
import pandas as pd
import matplotlib.pyplot as plt

# Load dataset (replace 'your_dataset.csv' with the actual file path or URL)
dataset_path = '../Data/housing_no_outliers.csv'
df = pd.read_csv(dataset_path)

# Select relevant columns
selected_columns = ['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms',
                    'population', 'households', 'median_income', 'median_house_value']
df_selected = df[selected_columns]

# Define a function to identify outliers based on IQR
def detect_outliers(column):
    Q1 = df_selected[column].quantile(0.25)
    Q3 = df_selected[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = (df_selected[column] < lower_bound) | (df_selected[column] > upper_bound)
    return outliers

# Identify outliers for each column
outliers_dict = {column: detect_outliers(column) for column in selected_columns}

# Create box plots for each column with outliers highlighted
plt.figure(figsize=(15, 10))
for i, column in enumerate(selected_columns, start=1):
    plt.subplot(3, 4, i)
    plt.boxplot(df_selected[column], vert=False)
    plt.scatter(df_selected.loc[outliers_dict[column], column], [1] * outliers_dict[column].sum(), color='red', marker='x', label='Outliers')
    plt.title(f'Box Plot of {column}', fontsize=12)
    plt.xlabel(column)
    plt.ylabel('Outliers')
    plt.legend()

plt.tight_layout()
plt.show()

C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\698208400.py:38: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [13]:
import pandas as pd



# Select the categorical column for one-hot encoding
categorical_column = 'ocean_proximity'

# Apply one-hot encoding
df_encoded = pd.get_dummies(df_no_outliers, columns=[categorical_column], drop_first=True)

# Display the first few rows of the encoded DataFrame
print("First few rows of the encoded DataFrame:")
print(df_encoded.head())

# Save the encoded DataFrame to a new CSV file
output_file_path_encoded = '../Data/housing_encoded.csv'
df_encoded.to_csv(output_file_path_encoded, index=False)

print(f"Encoded dataset saved to: {output_file_path_encoded}")

First few rows of the encoded DataFrame:
   longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
2    -122.24     37.85                52.0       1467.0           190.0
3    -122.25     37.85                52.0       1274.0           235.0
4    -122.25     37.85                52.0       1627.0           280.0
5    -122.25     37.85                52.0        919.0           213.0
6    -122.25     37.84                52.0       2535.0           489.0

   population  households  median_income  median_house_value  \
2       496.0       177.0         7.2574            352100.0
3       558.0       219.0         5.6431            341300.0
4       565.0       259.0         3.8462            342200.0
5       413.0       193.0         4.0368            269700.0
6      1094.0       514.0         3.6591            299200.0

   ocean_proximity_INLAND  ocean_proximity_ISLAND  ocean_proximity_NEAR BAY  \
2                   False                   False                      True
3                   False                   False                      True
4                   False                   False                      True
5                   False                   False                      True
6                   False                   False                      True

   ocean_proximity_NEAR OCEAN
2                       False
3                       False
4                       False
5                       False
6                       False
Encoded dataset saved to: ../Data/housing_encoded.csv

In [14]:
df_encoded

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,False,False,True,False
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,False,False,True,False
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,False,False,True,False
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,False,False,True,False
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,True,False,False,False
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,True,False,False,False
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,True,False,False,False
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,True,False,False,False
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,True,False,False,False

In [15]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load the encoded dataset (replace 'your_dataset.csv' with the actual file path or URL)
input_file_path_encoded = '../Data/housing_encoded.csv'
df_encoded = pd.read_csv(input_file_path_encoded)

# Calculate the correlation matrix
correlation_matrix = df_encoded.corr()

# Create a heatmap of the correlation matrix
plt.figure(figsize=(12, 10))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt=".2f", linewidths=.5)
plt.title("Correlation Matrix")
plt.show()

C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\2095269154.py:16: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [16]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt



# Calculate the correlation matrix
correlation_matrix = df_encoded.corr()

# Set a correlation threshold (adjust as needed)
correlation_threshold = 0.8

# Identify highly correlated variables
highly_correlated_vars = set()
for i in range(len(correlation_matrix.columns)):
    for j in range(i):
        if abs(correlation_matrix.iloc[i, j]) > correlation_threshold:
            colname = correlation_matrix.columns[i]
            highly_correlated_vars.add(colname)

# Print the columns to be dropped
print(f"Columns to be dropped due to high correlation: {highly_correlated_vars}")

# Drop highly correlated variables from the dataset
df_filtered = df_encoded.drop(columns=highly_correlated_vars)

# Move 'median_house_value' to the rightmost position
df_filtered = pd.concat([df_filtered.drop('median_house_value', axis=1), df_filtered['median_house_value']], axis=1)

# Create a heatmap of the filtered correlation matrix
plt.figure(figsize=(12, 10))
sns.heatmap(df_filtered.corr(), annot=True, cmap='coolwarm', fmt=".2f", linewidths=.5)
plt.title("Correlation Matrix After Filtering")
plt.show()

# Display the columns to keep after filtering
print(f"Columns to keep after filtering: {df_filtered.columns}")

Columns to be dropped due to high correlation: {'households', 'latitude', 'population', 'total_bedrooms'}
Columns to keep after filtering: Index(['longitude', 'housing_median_age', 'total_rooms', 'median_income',
       'ocean_proximity_INLAND', 'ocean_proximity_ISLAND',
       'ocean_proximity_NEAR BAY', 'ocean_proximity_NEAR OCEAN',
       'median_house_value'],
      dtype='object')

C:\Users\rimit\AppData\Local\Temp\ipykernel_28668\3061874314.py:34: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [17]:
df_encoded

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,False,False,True,False
1,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,False,False,True,False
2,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,False,False,True,False
3,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,False,False,True,False
4,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17429,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,True,False,False,False
17430,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,True,False,False,False
17431,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,True,False,False,False
17432,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,True,False,False,False
17433,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,True,False,False,False

In [18]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
import joblib

# Define features (X) and target variable (y)
X = df_encoded.drop(columns=['median_house_value'])
y = df_encoded['median_house_value']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Impute missing values using SimpleImputer
imputer = SimpleImputer(strategy='mean')
X_train_imputed = imputer.fit_transform(X_train)
X_test_imputed = imputer.transform(X_test)

# Standardize features using StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_imputed)
X_test_scaled = scaler.transform(X_test_imputed)

# Train a Random Forest Regressor model
rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train_scaled, y_train)

# Predictions on the test set
y_pred = rf_model.predict(X_test_scaled)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"Root Mean Squared Error (RMSE): {rmse}")
print(f"R-squared (R2): {r2}")

# Save the trained model to "../Model"
joblib.dump(rf_model, "../app/Model/random_forest_model.pkl")

Mean Squared Error: 1792847549.000579
Root Mean Squared Error (RMSE): 42342.03052524263
R-squared (R2): 0.7941763835487274

['../app/Model/random_forest_model.pkl']